dataset/

# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Build files
build/
dist/

# Logs
*.log